In [1]:
USE jchagger;

In [2]:
/*Look through Lesson 05b Where and Order By.sql and run the code examples there, then
   practice restricting and sorting data with the excercises below:
*/


-- 1) Show the last name and salary of those employees who earn  more than $12000.
SELECT last_name, salary 
 FROM employees 
  WHERE salary > 12000;

last_name,salary
King,24000.00
Kochhar,17000.00
De Haan,17000.00
Russell,14000.00
Partners,13500.00
Hartstein,13000.00

In [4]:
-- 2) Display the last name and department number of employee 176.
SELECT last_name, department_id 
FROM employees 
WHERE employee_id = 176;

last_name,department_id
Taylor,80

In [6]:
/* 3)Display the last name and salary of those employees whose salary is not in 
    the range of $5,000 to $12,000. */
    SELECT last_name, salary 
    FROM employees
    WHERE salary NOT BETWEEN 5000 AND 12000;

last_name,salary
King,24000.00
Kochhar,17000.00
De Haan,17000.00
Austin,4800.00
Pataballa,4800.00
Lorentz,4200.00
Khoo,3100.00
Baida,2900.00
Tobias,2800.00
Himuro,2600.00
Colmenares,2500.00
Nayer,3200.00
Mikkilineni,2700.00
Landry,2400.00
Markle,2200.00
Bissot,3300.00
Atkinson,2800.00
Marlow,2500.00
Olson,2100.00
Mallin,3300.00
Rogers,2900.00
Gee,2400.00
Philtanker,2200.00
Ladwig,3600.00
Stiles,3200.00
Seo,2700.00
Patel,2500.00
Rajs,3500.00
Davies,3100.00
Matos,2600.00
Vargas,2500.00
Russell,14000.00
Partners,13500.00
Taylor,3200.00
Fleaur,3100.00
Sullivan,2500.00
Geoni,2800.00
Sarchand,4200.00
Bull,4100.00
Dellinger,3400.00
Cabrio,3000.00
Chung,3800.00
Dilly,3600.00
Gates,2900.00
Perkins,2500.00
Bell,4000.00
Everett,3900.00
McCain,3200.00
Jones,2800.00
Walsh,3100.00
Feeney,3000.00
O'Connell,2600.00
Grant,2600.00
Whalen,4400.00
Hartstein,13000.00

In [10]:

/* 4) Show the first and last name, salary, and hire date for employees with 
      the last names Matos or Taylor. */
      -- SELECT first_name, last_name, salary, hire_date 
      -- FROM employees
      -- WHERE last_name = "Matos" OR last_name = "Taylor";

 SELECT first_name, last_name, salary, hire_date 
      FROM employees
      WHERE last_name LIKE "M%" OR last_name LIKE "T%";
      -- WHERE last_name IN ("M%", "T%");

first_name,last_name,salary,hire_date
Sigal,Tobias,2800.00,2007-07-24
Kevin,Mourgos,5800.00,2019-11-16
Irene,Mikkilineni,2700.00,2008-09-28
Steven,Markle,2200.00,2000-03-08
James,Marlow,2500.00,2015-02-16
Jason,Mallin,3300.00,2006-06-14
Randall,Matos,2600.00,2008-03-15
Peter,Tucker,10000.00,2007-01-30
Oliver,Tuvault,7000.00,2009-11-23
Allan,McEwen,9000.00,2013-08-01
Mattea,Marvins,7200.00,2000-01-24
Jonathon,Taylor,8600.00,2008-03-24
Winston,Taylor,3200.00,1995-01-24
Samuel,McCain,3200.00,2008-07-01
Susan,Mavris,6500.00,2011-06-07

In [13]:
		
/* 5) Display the last name and department id of all employees in departments 20
      and 50. Sort the result by last name. */ 
      SELECT last_name, department_id 
      FROM employees
      WHERE department_id = 20 OR department_id = 50
--       ORDER BY last_name DESC;
        ORDER BY 1 DESC;

last_name,department_id
Weiss,50
Walsh,50
Vollman,50
Vargas,50
Taylor,50
Sullivan,50
Stiles,50
Seo,50
Sarchand,50
Rogers,50
Rajs,50
Philtanker,50
Perkins,50
Patel,50
Olson,50
O'Connell,50
Nayer,50
Mourgos,50
Mikkilineni,50
McCain,50
Matos,50
Marlow,50
Markle,50
Mallin,50
Landry,50
Ladwig,50
Kaufling,50
Jones,50
Hartstein,20
Grant,50
Geoni,50
Gee,50
Gates,50
Fripp,50
Fleaur,50
Feeney,50
Fay,20
Everett,50
Dilly,50
Dellinger,50
Davies,50
Chung,50
Cabrio,50
Bull,50
Bissot,50
Bell,50
Atkinson,50

In [16]:

/* 6) Display the last name, salary, and department of employees who earn 
      between $5,000 and $10,000 and are in department 60 or 80. Label the 
      columns Employee and monthly_salary. */
      SELECT last_name AS Employee, salary AS monthly_salary, department_id
      FROM employees
      WHERE salary BETWEEN 5000 AND 10000
      AND 
--       department_id = 60 OR department_id = 80;
        department_id IN (60, 80);

Employee,monthly_salary,department_id
Hunold,9000.00,60
Ernst,6000.00,60
Tucker,10000.00,80
Bernstein,9500.00,80
Hall,9000.00,80
Olsen,8000.00,80
Cambrault,7500.00,80
Tuvault,7000.00,80
King,10000.00,80
Sully,9500.00,80
McEwen,9000.00,80
Smith,8000.00,80
Doran,7500.00,80
Sewall,7000.00,80
Greene,9500.00,80
Marvins,7200.00,80
Lee,6800.00,80
Ande,6400.00,80
Banda,6200.00,80
Bloom,10000.00,80
Fox,9600.00,80
Smith,7400.00,80
Bates,7300.00,80
Kumar,6100.00,80
Hutton,8800.00,80
Taylor,8600.00,80
Livingston,8400.00,80
Johnson,6200.00,80

In [19]:

-- 7) Show the last name and hire date for all emplyees hired in 2004.
SELECT last_name, hire_date
FROM employees
-- WHERE YEAR(hire_date) = 2004;
WHERE YEAR(SYSDATE()) - YEAR(hire_date) > 15;
-- WHERE YEAR(SYSDATE() - hire_date) > 15;

In [20]:

-- 8) Show the last name and job id of all employees who do not have a manager.
SELECT last_name, job_id
FROM employees
WHERE manager_id IS NULL;

last_name,job_id
King,AD_PRES

In [22]:
/* 9) Display the last_name, salary, and commission of all employees who earn
      a commission. Sort the result in descending order of salary and commission.
      Use the columns' numeric position in the order by clause. */
      SELECT last_name, salary, commission_pct 
      FROM employees
      WHERE commission_pct IS NOT NULL 
      ORDER BY 2 DESC, 3 DESC;

last_name,salary,commission_pct
Russell,14000.00,0.40
Partners,13500.00,0.30
Errazuriz,12000.00,0.30
Ozer,11500.00,0.25
Cambrault,11000.00,0.30
Abel,11000.00,0.30
Vishney,10500.00,0.25
Zlotkey,10500.00,0.20
King,10000.00,0.35
Tucker,10000.00,0.30
Bloom,10000.00,0.20
Fox,9600.00,0.20
Sully,9500.00,0.35
Bernstein,9500.00,0.25
Greene,9500.00,0.15
McEwen,9000.00,0.35
Hall,9000.00,0.25
Hutton,8800.00,0.25
Taylor,8600.00,0.20
Livingston,8400.00,0.20
Smith,8000.00,0.30
Olsen,8000.00,0.20
Doran,7500.00,0.30
Cambrault,7500.00,0.20
Smith,7400.00,0.15
Bates,7300.00,0.15
Marvins,7200.00,0.10
Sewall,7000.00,0.25
Grant,7000.00,0.15
Tuvault,7000.00,0.15
Lee,6800.00,0.10
Ande,6400.00,0.10
Banda,6200.00,0.10
Johnson,6200.00,0.10
Kumar,6100.00,0.10

In [26]:
/*  10) Show the last name and salary of employees who earn more than $10000. */
-- SELECT last_name, salary 
-- FROM employees
-- WHERE salary > 10000;

/* Find the nth highest salary */
SELECT last_name, salary 
FROM employees
ORDER BY salary DESC
LIMIT 4,1;

last_name,salary
Partners,13500.00

In [8]:
        
        use ayiheyis;
    
/*  11) Write a query that  generates employee id, last name, salary, manager_id, and department 
		for the employees of manager 120. Sort the report by the first selected column. */
        SELECT employee_id, last_name, salary, manager_id, department_id
        FROM employees
        WHERE manager_id = 120
        ORDER BY 1;
        
        
--  12) Show all last names that have "a" as the third letter.
        SELECT last_name
        FROM employees
        WHERE SUBSTRING(last_name, 3, 1) = 'a';

		


/*  13) Display all last names of employees who have both an "a" and an "e" 
        in their last name. */
        SELECT last_name
        FROM employees
        WHERE last_name LIKE '%a%' AND last_name LIKE '%e%';

		



/*  14) Show the last name, job, and salary for all employees who are either a
        sales representative or stock clerk, and whose salary is not $2,500, 
        $3,500, or $7,000. Order the result by salary within job. */
        SELECT last_name, job_id, salary
        FROM employees
        WHERE job_id IN ('SA_REP', 'ST_CLERK') 
        AND salary NOT IN (2500, 3500, 7000)
        ORDER BY job_id, salary;
        
		  

        
        
/*  15) Show the last name, salary and commission of those employees whose 
        commission is 20%. */
        SELECT last_name, salary, commission_pct
        FROM employees
        WHERE commission_pct = 0.20;

			
  


/* 16) In the locations table, display street address, city, state/province, postal code, and country id for 
		any location that has a state/province value. Sort the result by country and postal code. 
        */
        SELECT street_address, city, state_province, postal_code, country_id
        FROM locations
        WHERE state_province IS NOT NULL
        ORDER BY country_id, postal_code;
        
        
			
          
-- 17) Show the the last name, job id, department id, and salary of the top 10 highest paid employees.   
        SELECT last_name, job_id, department_id, salary
        FROM employees
        ORDER BY salary DESC
        LIMIT 10;

employee_id,last_name,salary,manager_id,department_id
125,Nayer,3200.00,120,50
126,Mikkilineni,2700.00,120,50
127,Landry,2400.00,120,50
128,Markle,2200.00,120,50
180,Taylor,3200.00,120,50
181,Fleaur,3100.00,120,50
182,Sullivan,2500.00,120,50
183,Geoni,2800.00,120,50

last_name
Grant
Grant
Whalen

last_name
De Haan
Faviet
Raphaely
Colmenares
Nayer
Markle
Philtanker
Patel
Davies
Partners
Errazuriz
Sewall
Ande
Bates
Abel
Fleaur
Gates
Whalen
Hartstein
Baer

last_name,job_id,salary
Kumar,SA_REP,6100.00
Johnson,SA_REP,6200.00
Banda,SA_REP,6200.00
Ande,SA_REP,6400.00
Lee,SA_REP,6800.00
Marvins,SA_REP,7200.00
Bates,SA_REP,7300.00
Smith,SA_REP,7400.00
Cambrault,SA_REP,7500.00
Doran,SA_REP,7500.00
Olsen,SA_REP,8000.00
Smith,SA_REP,8000.00
Livingston,SA_REP,8400.00
Taylor,SA_REP,8600.00
Hutton,SA_REP,8800.00
Hall,SA_REP,9000.00
McEwen,SA_REP,9000.00
Greene,SA_REP,9500.00
Bernstein,SA_REP,9500.00
Sully,SA_REP,9500.00
Fox,SA_REP,9600.00
King,SA_REP,10000.00
Bloom,SA_REP,10000.00
Tucker,SA_REP,10000.00
Vishney,SA_REP,10500.00
Abel,SA_REP,11000.00
Ozer,SA_REP,11500.00
Olson,ST_CLERK,2100.00
Markle,ST_CLERK,2200.00
Philtanker,ST_CLERK,2200.00
Gee,ST_CLERK,2400.00
Landry,ST_CLERK,2400.00
Matos,ST_CLERK,2600.00
Seo,ST_CLERK,2700.00
Mikkilineni,ST_CLERK,2700.00
Atkinson,ST_CLERK,2800.00
Rogers,ST_CLERK,2900.00
Davies,ST_CLERK,3100.00
Nayer,ST_CLERK,3200.00
Stiles,ST_CLERK,3200.00
Mallin,ST_CLERK,3300.00
Bissot,ST_CLERK,3300.00
Ladwig,ST_CLERK,3600.00

last_name,salary,commission_pct
Zlotkey,10500.00,0.20
Olsen,8000.00,0.20
Cambrault,7500.00,0.20
Bloom,10000.00,0.20
Fox,9600.00,0.20
Taylor,8600.00,0.20
Livingston,8400.00,0.20

street_address,city,state_province,postal_code,country_id
12-98 Victoria Street,Sydney,New South Wales,2901,AU
Rua Frei Caneca 1360,Sao Paulo,Sao Paulo,01307-002,BR
147 Spadina Ave,Toronto,Ontario,M5V 2L7,CA
6092 Boxwood St,Whitehorse,Yukon,YSW 9T2,CA
20 Rue des Corps-Saints,Geneva,Geneve,1730,CH
Murtenstrasse 921,Bern,BE,3095,CH
Schwanthalerstr. 7031,Munich,Bavaria,80925,DE
1298 Vileparle (E),Bombay,Maharashtra,490231,IN
2017 Shinjuku-ku,Tokyo,Tokyo Prefecture,1689,JP
Mariano Escobedo 9991,Mexico City,Distrito Federal,11932,MX
Pieter Breughelstraat 837,Utrecht,Utrecht,3029SK,NL
9702 Chester Road,Stretford,Manchester,09629850293,UK
"Magdalen Centre, The Oxford Science Park",Oxford,Oxford,OX9 9ZB,UK
2014 Jabberwocky Rd,Southlake,Texas,26192,US
2007 Zagora St,South Brunswick,New Jersey,50090,US
2004 Charade Rd,Seattle,Washington,98199,US
2011 Interiors Blvd,South San Francisco,California,99236,US

last_name,job_id,department_id,salary
King,AD_PRES,90,24000.00
Kochhar,AD_VP,90,17000.00
De Haan,AD_VP,90,17000.00
Russell,SA_MAN,80,14000.00
Partners,SA_MAN,80,13500.00
Hartstein,MK_MAN,20,13000.00
Higgins,AC_MGR,110,12000.00
Greenberg,FI_MGR,100,12000.00
Errazuriz,SA_MAN,80,12000.00
Ozer,SA_REP,80,11500.00