In [8]:
/* Look through Lesson 04b Select Statement.sql and run the code examples there, then
   practice retrieving data using the SELECT excercises below:
*/

/* 1) Determine the structure of the departments table. */
desc departments;
      

/* 2) Determine the structure of the employees table. */
desc employees;
      
  
/* 3) Write a query that displays the employee id, last name, job id, and hire date
      for each employee. Provide a column alias Startdate for the hire date. */
      select employee_id, last_name, job_id, hire_date as Startdate from employees;
      

-- 4) Display all unique job ids in the employees table.
select distinct job_id from employees;


/* 5) Rewrite the query in item 3 with more descriptive column headings.
      Name the column headings Emp #, Employee, Job, and Hire Date. */
      select employee_id as "Emp #", last_name as Employee, job_id as Job, hire_date as "Hire Date" from employees;
      
      
      
      
/* 6) Display employee number, last name, salary, and salary with a $100 bonus multiplied by 12. 
	  Label the last column yearly_compensation. */
      select employee_id, last_name, salary, salary + 100 * 12 as yearly_compensation from employees;

Field,Type,Null,Key,Default,Extra
department_id,b'int',NO,PRI,NULL,
department_name,b'varchar(30)',NO,,NULL,
manager_id,b'int',YES,MUL,NULL,
location_id,b'int',YES,MUL,NULL,

Field,Type,Null,Key,Default,Extra
employee_id,b'int',NO,PRI,NULL,
first_name,b'varchar(20)',NO,,NULL,
last_name,b'varchar(25)',NO,,NULL,
email,b'varchar(25)',NO,UNI,NULL,
phone_number,b'varchar(20)',NO,,NULL,
hire_date,b'date',NO,,NULL,
job_id,b'varchar(10)',NO,MUL,NULL,
salary,"b'decimal(8,2)'",NO,,NULL,
commission_pct,"b'decimal(2,2)'",YES,,NULL,
manager_id,b'int',YES,MUL,NULL,
department_id,b'int',YES,MUL,NULL,

employee_id,last_name,job_id,Startdate
100,King,AD_PRES,2007-06-17
101,Kochhar,AD_VP,2003-10-28
102,De Haan,AD_VP,2003-01-13
103,Hunold,IT_PROG,2010-01-03
104,Ernst,IT_PROG,2001-05-21
105,Austin,IT_PROG,2013-06-25
106,Pataballa,IT_PROG,2008-02-05
107,Lorentz,IT_PROG,2009-02-07
108,Greenberg,FI_MGR,2004-08-17
109,Faviet,FI_ACCOUNT,2004-08-16
110,Chen,FI_ACCOUNT,2007-09-28
111,Sciarra,FI_ACCOUNT,2007-09-30
112,Urman,FI_ACCOUNT,2008-03-07
113,Popp,FI_ACCOUNT,2009-12-07
114,Raphaely,PU_MAN,2008-03-24
115,Khoo,PU_CLERK,2005-05-18
116,Baida,PU_CLERK,2014-12-24
117,Tobias,PU_CLERK,2007-07-24
118,Himuro,PU_CLERK,2008-11-15
119,Colmenares,PU_CLERK,2009-08-10
120,Weiss,ST_MAN,2012-07-18
121,Fripp,ST_MAN,2007-04-10
122,Kaufling,ST_MAN,2009-01-01
123,Vollman,ST_MAN,2014-10-10
124,Mourgos,ST_MAN,2019-11-16
125,Nayer,ST_CLERK,2007-07-16
126,Mikkilineni,ST_CLERK,2008-09-28
127,Landry,ST_CLERK,2019-01-14
128,Markle,ST_CLERK,2000-03-08
129,Bissot,ST_CLERK,2007-08-20
130,Atkinson,ST_CLERK,2007-10-30
131,Marlow,ST_CLERK,2015-02-16
132,Olson,ST_CLERK,2009-04-10
133,Mallin,ST_CLERK,2006-06-14
134,Rogers,ST_CLERK,2008-08-26
135,Gee,ST_CLERK,2009-12-12
136,Philtanker,ST_CLERK,2000-02-06
137,Ladwig,ST_CLERK,2005-07-14
138,Stiles,ST_CLERK,2007-10-26
139,Seo,ST_CLERK,2008-02-12
140,Patel,ST_CLERK,2015-04-06
141,Rajs,ST_CLERK,2005-10-17
142,Davies,ST_CLERK,2007-01-29
143,Matos,ST_CLERK,2008-03-15
144,Vargas,ST_CLERK,2018-07-09
145,Russell,SA_MAN,2006-10-01
146,Partners,SA_MAN,2007-01-05
147,Errazuriz,SA_MAN,2016-03-10
148,Cambrault,SA_MAN,2009-10-15
149,Zlotkey,SA_MAN,2010-01-29
150,Tucker,SA_REP,2007-01-30
151,Bernstein,SA_REP,2007-03-24
152,Hall,SA_REP,2016-08-20
153,Olsen,SA_REP,2008-03-30
154,Cambrault,SA_REP,2018-12-09
155,Tuvault,SA_REP,2009-11-23
156,King,SA_REP,2012-01-30
157,Sully,SA_REP,2006-03-04
158,McEwen,SA_REP,2013-08-01
159,Smith,SA_REP,2007-03-10
160,Doran,SA_REP,2007-12-15
161,Sewall,SA_REP,2018-11-03
162,Vishney,SA_REP,2007-11-11
163,Greene,SA_REP,2019-03-19
164,Marvins,SA_REP,2000-01-24
165,Lee,SA_REP,2000-02-23
166,Ande,SA_REP,2000-03-24
167,Banda,SA_REP,2010-04-21
168,Ozer,SA_REP,2007-03-11
169,Bloom,SA_REP,2008-03-23
170,Fox,SA_REP,2015-01-24
171,Smith,SA_REP,2009-02-23
172,Bates,SA_REP,2009-03-24
173,Kumar,SA_REP,2000-04-21
174,Abel,SA_REP,2006-05-11
175,Hutton,SA_REP,2007-03-19
176,Taylor,SA_REP,2008-03-24
177,Livingston,SA_REP,2008-04-23
178,Grant,SA_REP,2019-05-24
179,Johnson,SA_REP,2000-01-04
180,Taylor,SH_CLERK,1995-01-24
181,Fleaur,SH_CLERK,1998-02-23
182,Sullivan,SH_CLERK,1999-06-21
183,Geoni,SH_CLERK,2010-02-03
184,Sarchand,SH_CLERK,1996-01-27
185,Bull,SH_CLERK,1997-02-20
186,Dellinger,SH_CLERK,2008-06-24
187,Cabrio,SH_CLERK,2009-02-07
188,Chung,SH_CLERK,2007-06-14
189,Dilly,SH_CLERK,2007-08-13
190,Gates,SH_CLERK,2008-07-11
191,Perkins,SH_CLERK,2009-12-19
192,Bell,SH_CLERK,2006-02-04
193,Everett,SH_CLERK,2007-03-03
194,McCain,SH_CLERK,2008-07-01
195,Jones,SH_CLERK,2019-03-17
196,Walsh,SH_CLERK,2008-04-24
197,Feeney,SH_CLERK,2008-05-23
198,O'Connell,SH_CLERK,2009-06-21
199,Grant,SH_CLERK,2000-01-13
200,Whalen,AD_ASST,2004-07-01
201,Hartstein,MK_MAN,2014-02-17
202,Fay,MK_REP,2007-08-17
203,Mavris,HR_REP,2011-06-07
204,Baer,PR_REP,2004-06-07
205,Higgins,AC_MGR,2012-06-07
206,Gietz,AC_ACCOUNT,2004-06-07

job_id
AC_ACCOUNT
AC_MGR
AD_ASST
AD_PRES
AD_VP
FI_ACCOUNT
FI_MGR
HR_REP
IT_PROG
MK_MAN
MK_REP
PR_REP
PU_CLERK
PU_MAN
SA_MAN
SA_REP
SH_CLERK
ST_CLERK
ST_MAN

Emp #,Employee,Job,Hire Date
100,King,AD_PRES,2007-06-17
101,Kochhar,AD_VP,2003-10-28
102,De Haan,AD_VP,2003-01-13
103,Hunold,IT_PROG,2010-01-03
104,Ernst,IT_PROG,2001-05-21
105,Austin,IT_PROG,2013-06-25
106,Pataballa,IT_PROG,2008-02-05
107,Lorentz,IT_PROG,2009-02-07
108,Greenberg,FI_MGR,2004-08-17
109,Faviet,FI_ACCOUNT,2004-08-16
110,Chen,FI_ACCOUNT,2007-09-28
111,Sciarra,FI_ACCOUNT,2007-09-30
112,Urman,FI_ACCOUNT,2008-03-07
113,Popp,FI_ACCOUNT,2009-12-07
114,Raphaely,PU_MAN,2008-03-24
115,Khoo,PU_CLERK,2005-05-18
116,Baida,PU_CLERK,2014-12-24
117,Tobias,PU_CLERK,2007-07-24
118,Himuro,PU_CLERK,2008-11-15
119,Colmenares,PU_CLERK,2009-08-10
120,Weiss,ST_MAN,2012-07-18
121,Fripp,ST_MAN,2007-04-10
122,Kaufling,ST_MAN,2009-01-01
123,Vollman,ST_MAN,2014-10-10
124,Mourgos,ST_MAN,2019-11-16
125,Nayer,ST_CLERK,2007-07-16
126,Mikkilineni,ST_CLERK,2008-09-28
127,Landry,ST_CLERK,2019-01-14
128,Markle,ST_CLERK,2000-03-08
129,Bissot,ST_CLERK,2007-08-20
130,Atkinson,ST_CLERK,2007-10-30
131,Marlow,ST_CLERK,2015-02-16
132,Olson,ST_CLERK,2009-04-10
133,Mallin,ST_CLERK,2006-06-14
134,Rogers,ST_CLERK,2008-08-26
135,Gee,ST_CLERK,2009-12-12
136,Philtanker,ST_CLERK,2000-02-06
137,Ladwig,ST_CLERK,2005-07-14
138,Stiles,ST_CLERK,2007-10-26
139,Seo,ST_CLERK,2008-02-12
140,Patel,ST_CLERK,2015-04-06
141,Rajs,ST_CLERK,2005-10-17
142,Davies,ST_CLERK,2007-01-29
143,Matos,ST_CLERK,2008-03-15
144,Vargas,ST_CLERK,2018-07-09
145,Russell,SA_MAN,2006-10-01
146,Partners,SA_MAN,2007-01-05
147,Errazuriz,SA_MAN,2016-03-10
148,Cambrault,SA_MAN,2009-10-15
149,Zlotkey,SA_MAN,2010-01-29
150,Tucker,SA_REP,2007-01-30
151,Bernstein,SA_REP,2007-03-24
152,Hall,SA_REP,2016-08-20
153,Olsen,SA_REP,2008-03-30
154,Cambrault,SA_REP,2018-12-09
155,Tuvault,SA_REP,2009-11-23
156,King,SA_REP,2012-01-30
157,Sully,SA_REP,2006-03-04
158,McEwen,SA_REP,2013-08-01
159,Smith,SA_REP,2007-03-10
160,Doran,SA_REP,2007-12-15
161,Sewall,SA_REP,2018-11-03
162,Vishney,SA_REP,2007-11-11
163,Greene,SA_REP,2019-03-19
164,Marvins,SA_REP,2000-01-24
165,Lee,SA_REP,2000-02-23
166,Ande,SA_REP,2000-03-24
167,Banda,SA_REP,2010-04-21
168,Ozer,SA_REP,2007-03-11
169,Bloom,SA_REP,2008-03-23
170,Fox,SA_REP,2015-01-24
171,Smith,SA_REP,2009-02-23
172,Bates,SA_REP,2009-03-24
173,Kumar,SA_REP,2000-04-21
174,Abel,SA_REP,2006-05-11
175,Hutton,SA_REP,2007-03-19
176,Taylor,SA_REP,2008-03-24
177,Livingston,SA_REP,2008-04-23
178,Grant,SA_REP,2019-05-24
179,Johnson,SA_REP,2000-01-04
180,Taylor,SH_CLERK,1995-01-24
181,Fleaur,SH_CLERK,1998-02-23
182,Sullivan,SH_CLERK,1999-06-21
183,Geoni,SH_CLERK,2010-02-03
184,Sarchand,SH_CLERK,1996-01-27
185,Bull,SH_CLERK,1997-02-20
186,Dellinger,SH_CLERK,2008-06-24
187,Cabrio,SH_CLERK,2009-02-07
188,Chung,SH_CLERK,2007-06-14
189,Dilly,SH_CLERK,2007-08-13
190,Gates,SH_CLERK,2008-07-11
191,Perkins,SH_CLERK,2009-12-19
192,Bell,SH_CLERK,2006-02-04
193,Everett,SH_CLERK,2007-03-03
194,McCain,SH_CLERK,2008-07-01
195,Jones,SH_CLERK,2019-03-17
196,Walsh,SH_CLERK,2008-04-24
197,Feeney,SH_CLERK,2008-05-23
198,O'Connell,SH_CLERK,2009-06-21
199,Grant,SH_CLERK,2000-01-13
200,Whalen,AD_ASST,2004-07-01
201,Hartstein,MK_MAN,2014-02-17
202,Fay,MK_REP,2007-08-17
203,Mavris,HR_REP,2011-06-07
204,Baer,PR_REP,2004-06-07
205,Higgins,AC_MGR,2012-06-07
206,Gietz,AC_ACCOUNT,2004-06-07

employee_id,last_name,salary,yearly_compensation
100,King,24000.00,25200.00
101,Kochhar,17000.00,18200.00
102,De Haan,17000.00,18200.00
103,Hunold,9000.00,10200.00
104,Ernst,6000.00,7200.00
105,Austin,4800.00,6000.00
106,Pataballa,4800.00,6000.00
107,Lorentz,4200.00,5400.00
108,Greenberg,12000.00,13200.00
109,Faviet,9000.00,10200.00
110,Chen,8200.00,9400.00
111,Sciarra,7700.00,8900.00
112,Urman,7800.00,9000.00
113,Popp,6900.00,8100.00
114,Raphaely,11000.00,12200.00
115,Khoo,3100.00,4300.00
116,Baida,2900.00,4100.00
117,Tobias,2800.00,4000.00
118,Himuro,2600.00,3800.00
119,Colmenares,2500.00,3700.00
120,Weiss,8000.00,9200.00
121,Fripp,8200.00,9400.00
122,Kaufling,7900.00,9100.00
123,Vollman,6500.00,7700.00
124,Mourgos,5800.00,7000.00
125,Nayer,3200.00,4400.00
126,Mikkilineni,2700.00,3900.00
127,Landry,2400.00,3600.00
128,Markle,2200.00,3400.00
129,Bissot,3300.00,4500.00
130,Atkinson,2800.00,4000.00
131,Marlow,2500.00,3700.00
132,Olson,2100.00,3300.00
133,Mallin,3300.00,4500.00
134,Rogers,2900.00,4100.00
135,Gee,2400.00,3600.00
136,Philtanker,2200.00,3400.00
137,Ladwig,3600.00,4800.00
138,Stiles,3200.00,4400.00
139,Seo,2700.00,3900.00
140,Patel,2500.00,3700.00
141,Rajs,3500.00,4700.00
142,Davies,3100.00,4300.00
143,Matos,2600.00,3800.00
144,Vargas,2500.00,3700.00
145,Russell,14000.00,15200.00
146,Partners,13500.00,14700.00
147,Errazuriz,12000.00,13200.00
148,Cambrault,11000.00,12200.00
149,Zlotkey,10500.00,11700.00
150,Tucker,10000.00,11200.00
151,Bernstein,9500.00,10700.00
152,Hall,9000.00,10200.00
153,Olsen,8000.00,9200.00
154,Cambrault,7500.00,8700.00
155,Tuvault,7000.00,8200.00
156,King,10000.00,11200.00
157,Sully,9500.00,10700.00
158,McEwen,9000.00,10200.00
159,Smith,8000.00,9200.00
160,Doran,7500.00,8700.00
161,Sewall,7000.00,8200.00
162,Vishney,10500.00,11700.00
163,Greene,9500.00,10700.00
164,Marvins,7200.00,8400.00
165,Lee,6800.00,8000.00
166,Ande,6400.00,7600.00
167,Banda,6200.00,7400.00
168,Ozer,11500.00,12700.00
169,Bloom,10000.00,11200.00
170,Fox,9600.00,10800.00
171,Smith,7400.00,8600.00
172,Bates,7300.00,8500.00
173,Kumar,6100.00,7300.00
174,Abel,11000.00,12200.00
175,Hutton,8800.00,10000.00
176,Taylor,8600.00,9800.00
177,Livingston,8400.00,9600.00
178,Grant,7000.00,8200.00
179,Johnson,6200.00,7400.00
180,Taylor,3200.00,4400.00
181,Fleaur,3100.00,4300.00
182,Sullivan,2500.00,3700.00
183,Geoni,2800.00,4000.00
184,Sarchand,4200.00,5400.00
185,Bull,4100.00,5300.00
186,Dellinger,3400.00,4600.00
187,Cabrio,3000.00,4200.00
188,Chung,3800.00,5000.00
189,Dilly,3600.00,4800.00
190,Gates,2900.00,4100.00
191,Perkins,2500.00,3700.00
192,Bell,4000.00,5200.00
193,Everett,3900.00,5100.00
194,McCain,3200.00,4400.00
195,Jones,2800.00,4000.00
196,Walsh,3100.00,4300.00
197,Feeney,3000.00,4200.00
198,O'Connell,2600.00,3800.00
199,Grant,2600.00,3800.00
200,Whalen,4400.00,5600.00
201,Hartstein,13000.00,14200.00
202,Fay,6000.00,7200.00
203,Mavris,6500.00,7700.00
204,Baer,10000.00,11200.00
205,Higgins,12000.00,13200.00
206,Gietz,8300.00,9500.00